/BlackREST/logs
/BlackREST/project/project
/BlackREST/project/target
/BlackREST/target
/BlackREST/tmp
/BlackREST/.history
/BlackREST/dist
/BlackREST/.idea
/BlackREST/*.iml
/BlackREST/out
/BlackREST/.idea_modules
/BlackREST/.classpath
/BlackREST/.project
/BlackREST/RUNNING_PID
/BlackREST/.settings
/BlackREST/.git
/BlackREST/.gitignore