/BlackREST/logs
/BlackREST/project/project
/BlackREST/project/target
/BlackREST/target
/BlackREST/tmp
/BlackREST/.history
/BlackREST/dist
/BlackREST/.idea
/BlackREST/*.iml
/BlackREST/out
/BlackREST/.idea_modules
/BlackREST/.classpath
/BlackREST/.project
/BlackREST/RUNNING_PID
/BlackREST/.settings
/BlackREST/.git
/BlackREST/.gitignore
*.pro
*.pro.user
.idea/
*.iml
build-untitled-Desktop_Qt_5_2_1_GCC_64bit-Debug/